# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

/.htaccess
/*.txt
/*.php
/INSTALL*
/web.config

includes/*
misc/*
modules/*
profiles/*
scripts/*
themes/*

